<div class="beating_box">
  <h1 class="beating_heading">BEATING THE COMPETITION</h1>
  <div class="rise_table">
    <div class="row first_row">
      <div class="col-md-2">
        <div class="rise__table_logo bg__black">
          <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/image_18.png?v=1726118203">
        </div>
      </div>
      <div class="col-md-2 small_col">
        <div class="rise__table_logo new_col_logo">
          <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Group_459_fddf98ef-9f11-447e-a1c2-8db2b1056efe.png?v=1726118392">
          <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Group_460.png?v=1726118392">
          <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Group_461.png?v=1726118391">
        </div>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-md-4">
        <div class="rise__table_text">
          <p class="protein_type">PROTEIN Type</p>
          <p class="protein_type">Protein Per Serving</p>
          <p class="protein_type">serving enough for recovery</p>
          <p class="protein_type">Leucine Per Serving <span class="protein_type_span">**</span></p>
          <p class="protein_type">PDCAAS score</p>
          <p class="protein_type">Cost Per Gram of Protein <span class="protein_type_span">***</span></p>
          <p class="protein_type">
            # Servings Required <span class="protein_type_span_small">For 30g Protein and 3g Leucine</span>
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="protein_yellow bg__black">
          <p class="protein__yellow">PLANT-BASED</p>
          <p class="protein__yellow">30g</p>
          <p class="protein__yellow tick_img">
            <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Layer_1.svg?v=1726119645">
          </p>
          <p class="protein__yellow">3.00g</p>
          <p class="protein__yellow">1.00</p>
          <p class="protein__yellow white_color">$0.10 <span class="yellow__star">***</span></p>
          <p class="protein__yellow">1</p>
        </div>
      </div>
      <div class="col-md-2 small_col">
        <div class="protein_yellow_small">
          <p class="protein__yellow_small yellow_color">PLANT-BASED</p>
          <p class="protein__yellow_small">20g</p>
          <p class="protein__yellow_small cross_img">
            <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Layer_1_1.svg?v=1726119830">
          </p>
          <p class="protein__yellow_small">1.78G</p>
          <p class="protein__yellow_small">0.78</p>
          <p class="protein__yellow_small">$0.15</p>
          <p class="protein__yellow_small">1.5</p>
        </div>
      </div>
      <div class="col-md-2 small_col">
        <div class="protein_yellow_small">
          <p class="protein__yellow_small yellow_color">PLANT-BASED</p>
          <p class="protein__yellow_small">22g</p>
          <p class="protein__yellow_small cross_img">
            <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Layer_1_1.svg?v=1726119830">
          </p>
          <p class="protein__yellow_small">1.80G</p>
          <p class="protein__yellow_small">NOT PUBLISHED</p>
          <p class="protein__yellow_small">$0.08</p>
          <p class="protein__yellow_small">1.4</p>
        </div>
      </div>
      <div class="col-md-2 small_col">
        <div class="protein_yellow_small">
          <p class="protein__yellow_small">WHEY <span class="span_small_text">Animal Based</span></p>
          <p class="protein__yellow_small">20g</p>
          <p class="protein__yellow_small cross_img">
            <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Layer_1_1.svg?v=1726119830">
          </p>
          <p class="protein__yellow_small">2.20G</p>
          <p class="protein__yellow_small yellow_color">1.0</p>
          <p class="protein__yellow_small yellow_color">$0.07</p>
          <p class="protein__yellow_small">1.5</p>
        </div>
      </div>
    </div>
  </div>
  <div class="beating_disclaimer">
    <p class="disclaimer_text">
      *By recovery we mean a minimum of 3g Leucine to aide recover.
      <span> <a href="#" class="read_more">Read more</a></span> **Studies show that roughly 3g of Leucine is required to
      trigger the bodies muscle repairing system *** Using lowest price per package
    </p>
  </div>
</div>

<!-- next section -->

<div class="how_we_compare">
  <div class="compare_yellow">
    <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Vector.svg?v=1726055073">
    <h1 class="price_matter">PRICE PER GRAM MATTERS</h1>
  </div>
  <div class="how_compare">
    <h1 class="compare_heading">HOW WE COMPARE</h1>
    <p class="compare_p">
      Because what you care about is how much the protein really costs. <br>
      Price per gram provides a more accurate measure of what you’re actually paying for (the protein).
    </p>
    <div class="yellow_logo_box">
      <div class="yellow_img">
        <div class="img_yellow">
          <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Layer_1_4381a479-88d0-4f01-a81b-1db6eab48e96.png?v=1726055423">
        </div>

        <div class="yellow_img_para">
          <p class="yellow_whey">High end whey protein $0.09 – $0.13 per gram of protein.</p>
        </div>
      </div>
      <div class="yellow_img">
        <div class="img_yellow">
          <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Layer_1_1.png?v=1726055422">
        </div>
        <div class="yellow_img_para">
          <p class="yellow_whey">$0.10 - $0.13 per gram of protein (depending on package selected).</p>
        </div>
      </div>
      <div class="yellow_img">
        <div class="img_yellow">
          <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/Layer_1_2.png?v=1726055421">
        </div>
        <div class="yellow_img_para">
          <p class="yellow_whey">High end plant-based protein $0.10 – $0.16 per gram of protein.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- next section -->

<div class="fav_product">
  <div class="fav_vanilla">
    <div class="fav_vanilla_box">
      <div class="fav__vanilla">
        <h1 class="flavour_new">MADAGASCAR VANILLA</h1>
        <div class="flavour_subhead">
          <p class="flavour_p">Tasting Notes</p>
          <h2 class="flavour_name">
            Vanilla Bean <br>
            Birthday Cake <br>
            Panna Cotta
          </h2>
        </div>
      </div>
      <div class="fav_vanilla_img">
        <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/vanilla_explosion.png?v=1726058432">
      </div>
    </div>
    <div class="fav_vanilla_text">
      <p class="flavour_text">
        Enjoy the simplicity of vanilla on its own, or use it as the backdrop for your next scrumptious smoothie. Real
        ingredients equal real results. RISE311 contains Madagascar Vanilla bean (the world’s second most expensive
        spice) which is used by top chefs the world over for its elegant, delicate flavor profile. As a rich source of
        antioxidants, it helps stop free radicals in their tracks, while also aiding in cell regeneration and improving
        circulation.
      </p>
    </div>
  </div>
  <div class="fav_vanilla">
    <div class="fav_vanilla_box">
      <div class="fav__vanilla">
        <h1 class="flavour_new">DARK CHOCOLATE</h1>
        <div class="flavour_subhead">
          <p class="flavour_p">Tasting Notes</p>
          <h2 class="flavour_name">
            FUDGE BROWNIE <br>
            SEA SALT <br>
            SMOOTH CREAM
          </h2>
        </div>
      </div>
      <div class="fav_vanilla_img">
        <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/vanilla_explosion_1.png?v=1726058432">
      </div>
    </div>
    <div class="fav_vanilla_text">
      <p class="flavour_text">
        Simply mix into water or your favorite milk (almond, oat, soy – you pick) for a creamy treat. Our cocoa is
        authentic and non-alkalized. Creating a flavor experience, not to mention a hefty serving of antioxidants. True
        cocoa comes with a heap of flavonoids that nutritionally support cardiovascular health. Mineral-rich, cocoa
        provides a magnesium boost to help support blood sugar balance and digestion.
      </p>
    </div>
  </div>
</div>

<!-- next section -->

<div class="key_protien">
  <div class="key_protein_heading_box">
    <h2 class="key_protein_heading">OUR KEY PROTEIN INGREDIENTS</h2>
  </div>
  <div class="key_protein_box">
    <div class="key_box">
      <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/vanilla_explosion_2.png?v=1726060740">
      <h2 class="key_heading">PEA PROTEIN</h2>
      <p class="key_para">
        Our pea protein goes through quite a journey. Split yellow peas are grown in pristine soil in Canada. It’s then
        turned into a powder. Most pea proteins are finished here. But our pea protein goes through a fermented shiitake
        mycelium process (think of it like a fine bourbon aging in a barrel).
      </p>
    </div>
    <div class="key_box">
      <img src="https://cdn.shopify.com/s/files/1/0774/5775/2344/files/vanilla_explosion_3.png?v=1726060740">
      <h2 class="key_heading">BARLEY PROTEIN</h2>
      <p class="key_para">
        Barley is renowned as an ancient grain, very beneficial to overall health, and contains all 9 essential amino
        acids. To create the concentrated barley protein in RISE311, the barley is sprouted and cold-temperature
        processed to create an ingredient that is 85% protein content. This ingredient retains many of the polyphenols
        and other antioxidant content of the barley grain.
      </p>
    </div>
  </div>
  <div class="specialy_selected_button">
    <a class="specialy_selected">READ MORE ABOUT OUR SPECIALLY SELECTED INGREDIENTS</a>
  </div>
</div>

{% schema %}
{
  "name": "BEATING THE COMPETITION",
  "settings": [

  ],
  "presets": [
    {
      "name": "BEATING THE COMPETITION"
    }
  ]
}
{% endschema %}
