<div class="pure_strength_sec">
   <div class="page-width">
       <div class="pure_logo">
          <img src="" />
       </div>
   </div>
</div>

{% schema %}
  {
    "name": "Pure Strength",
    "settings": [
        {
           "type": "image_picker",
           "id": "pure_logo",
           "label": "Logo"
        },
        {
           "type": "text",
           "id": "pure_title",
           "label": "Title"
        },
        {
           "type": "textarea",
           "id": "pure_content",
           "label": "Content"
        },
        {
           "type": "image_picker",
           "id": "pure_sign",
           "label": "Sign"
        },
        {
           "type": "image_picker",
           "id": "pure_img",
           "label": "Image"
        }
    ],
    "presets": [
      {
        "name": "Pure Strength"
      }
    ]
  }
{% endschema %}